html,
body {
  margin: 0;
  padding: 0;
  color: var(--color) !important;
}

html {
  --background: #222;
  --color: #ddd;
  --padding-size: 20px;
  box-sizing: border-box;
  height: 100% !important;
  background: var(--background) !important;
}

body {
  color: var(--color);
  text-align: center;
}

h1 {
  color: #ffff57 !important;
  letter-spacing: 2px;
}

h2 {
  color: white !important;
  letter-spacing: 2px;
}

h3 {
  color: #ffff57 !important;
  letter-spacing: 2px;
}

.container--padding {
  padding: var(--padding-size);
}

.container--padding-x {
  padding-left: var(--padding-size);
  padding-right: var(--padding-size);
}

.container--padding-y {
  padding-top: var(--padding-size);
  padding-bottom: var(--padding-size);
}

.container--padding-t {
  padding-top: var(--padding-size);
}

.container--padding-b {
  padding-bottom: var(--padding-size);
}

.content {
  height: 100%;
  text-align: left;
}

ul {
  margin: 0 !important;
  list-style: none !important;
}

.box {
  color: #ddd !important;
  background: #00000080 !important;
}
